{% extends "base.html" %} {% block title %}Escada{% endblock %} {% block
content %}
<h3 align="center">Check List - Utilização de Escada</h3>

<!-- <script>
    document.getElementById("patamar").style.display = "none";
    document.getElementById("topo").style.display = "none";
    document.getElementById("catraca").style.display = "none";
    document.getElementById("cordapolia").style.display = "none";

    function showForm() {
        var condition = document.getElementByName("escadatipo").value;
        if (condition == "tesoura") {
            document.getElementByName("patamar").style.display = "block";
            document.getElementByName("topo").style.display = "block";
            document.getElementByName("catraca").style.display = "none";
            document.getElementByName("cordapolia").style.display = "none";

        } else {
            document.getElementByName("patamar").style.display = "none";
            document.getElementByName("topo").style.display = "none";
            document.getElementByName("catraca").style.display = "block";
            document.getElementByName("cordapolia").style.display = "block";
        }
    }

    window.onload = function () {
        var conditionField = document.getElementByName("escadatipo");
        conditionField.addEventListener("change", showForm);
        showForm();
    };
</script> -->

<form method="POST">
    <div>

        <div>
            <h5>Qual o tipo de escada?</h5>
            <label>
                <input type="radio" name="escadatipo" value="tesoura">
                Tesoura
            </label>

            <label>
                <input type="radio" name="escadatipo" value="ext">
                Extensível
            </label>
        </div>

        <!-- BLOCO PADRÃO -->

        <div>
            <label>
                <input type="textarea" name="tamanhoescada" placeholder="Tamanho (em metros)">
            </label>
        </div>

        <div>
            <label>
                <input type="textarea" name="numescada" placeholder="Nº da Escada">
            </label>
        </div>


        <div>
            <label for="materialescada">Tipo: </label>
            <select id="materialescada">
                <option value="fibra">Fibra de Vidro</option>
                <option value="aluminio">Alumínio</option>
                <option value="madeira">Madeira</option>
            </select>
        </div>


        <div>
            <label>
                <input type="checkbox" name="degraus" value="TRUE">
                Degraus: Solto, rachado, amassado ou ausente?
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="montantes" value="TRUE">
                Montantes: Rachado, amassado, desgastado
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="etiqueta" value="TRUE">
                Etiqueta: Falta ou não legível
            </label>
        </div>

        <!-- BLOCO ESCADA TESOURA -->

        <div>
            <label>
                <input type="checkbox" name="patamarsuperior" id="patamarsuperior" value="TRUE">
                Patamar Superior: Solto, amassado, ausente?
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="topo" id="topo" value="TRUE">
                Topo: Rachado, solto, ausente?
            </label>
        </div>

        <!-- BLOCO ESCADA EXTENSÍVEL-->

        <div>
            <label>
                <input type="checkbox" name="catracadeseguranca" id="catracadeseguranca" value="TRUE">
                Catraca de Segurança: Solta, amassada, quebrada?
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="cordapolia" id="cordapolia" value="TRUE">
                Corda/Polia: Solta, dobrada ou quebrada?
            </label>
        </div>

        <!-- MAIS UM BLOCO PADRÃO-->

        <div>
            <label>
                <input type="checkbox" name="sapatas" value="TRUE">
                Sapatas: Solta, amassada, quebrada?
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="geral" value="TRUE">
                Geral: Solta, dobrada ou quebrada?
            </label>
        </div>

        <div>
            <label>
                <input type="textarea" name="outros" placeholder="Outros">
            </label>
        </div>

        <div>
            <h5>Ação:</h5>
            <label>
                <input type="radio" name="acao" value="FALSE">
                Escada danificada, não utilizar
            </label>

            <label>
                <input type="radio" name="acao" value="TRUE">
                Escada está em boas condições de uso
            </label>
        </div>

        <a>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button id="button" class="btn btn-primary btn-lg" type="submit">OK</button>
            </div>
        </a>
    </div>
</form>

{% endblock %}