{% extends "base.html" %} {% block title %}Escada{% endblock %} {% block
content %}
<p><h3>Check List - Utilização de Escada</h3></p>

<form method="POST">
    <div>
        <div>
            <h5>Qual o tipo de escada?</h5>
            <div class="container">
                <label class="labelcheck">
                    <input type="radio" id="escadatipot" name="escadatipo" value="tesoura"/>
                    <span class="spanradio">Tesoura</span>
                    <img src="static/img/img2.jpg" id="imga" width="140" height="210"/>
                </label>
                <label class="labelcheck">
                    <input type="radio" id="escadatipoe" name="escadatipo" value="ext"/>
                    <span class="spanradio">Extensível</span>
                    <img src="static/img/img1.jpg" id="imgb" width="140" height="210"/>
                </label>
            </div>

        <!-- BLOCO PADRÃO -->

        <div class="outerBox">
            <div class="inputBox">
                <input type="text" name="tamanhoescada" required="required">
                <span>Tamanho (em metros)</span>
            </div>
        </div>

        <div class="outerBox">
            <div class="inputBox">
                <input type="text" name="numescada" required="required">
                <span>Nº da Escada</span>
            </div>
        </div>

        <!-- <div class="outerBox"> -->
        <div class="outerBox">   
        <div class="select">
                    <select id="materialescada">
                        <option selected disabled>MATERIAL DA ESCADA</option>
                        <option value="fibra">Fibra de Vidro</option>
                        <option value="aluminio">Alumínio</option>
                        <option value="madeira">Madeira</option>
                    </select>
        </div>
        </div>
    <!-- </div> -->


        <!-- <div>
            <label for="materialescada">Tipo: </label>
            <select id="materialescada">
                <option value="fibra">Fibra de Vidro</option>
                <option value="aluminio">Alumínio</option>
                <option value="madeira">Madeira</option>
            </select>
        </div> -->

        <div class="containercheck">
            <div>
                <label>
                    <input type="checkbox" name="degraus" id="degraus" value="TRUE">
                    <span>Degraus: Solto, rachado, amassado ou ausente?</span>
                </label>
            </div>
        </div>

        <div class="containercheck">
            <div>
                <label>
                    <input type="checkbox" name="montantes" id="montantes" value="TRUE">
                    <span>Montantes: Rachado, amassado, desgastado</span>
                </label>
            </div>
        </div>

        <div class="containercheck">
            <div>
                <label>
                    <input type="checkbox" name="etiqueta" id="etiqueta" value="TRUE">
                    <span>Etiqueta: Falta ou não legível</span>
                </label>
            </div>
        </div>

        <!-- BLOCO ESCADA TESOURA -->

        <div class="containercheck">
            <div>
                <label>
                    <input type="checkbox" name="patamarsuperior" id="patamarsuperior" value="TRUE">
                    <span>Patamar Superior: Solto, amassado, ausente?</span>
                </label>
            </div>
        </div>

        <div class="containercheck">
            <div>
                <label>
                    <input type="checkbox" name="topo" id="topo" value="TRUE">
                    <span>Topo: Rachado, solto, ausente?</span>
                </label>
            </div>
        </div>

        <!-- BLOCO ESCADA EXTENSÍVEL-->

        <div class="containercheck">
            <div>
                <label>
                    <input type="checkbox" name="catracadeseguranca" id="catracadeseguranca" value="TRUE">
                    <span>Catraca de Segurança: Solta, amassada, quebrada?</span>
                </label>
            </div>
        </div>

        <div class="containercheck">
            <div>
                <label>
                    <input type="checkbox" name="cordapolia" id="cordapolia" value="TRUE">
                    <span>Corda/Polia: Solta, dobrada ou quebrada?</span>
                </label>
            </div>
        </div>

        <!-- MAIS UM BLOCO PADRÃO-->

        <div class="containercheck">
            <div>
                <label>
                    <input type="checkbox" name="sapatas" id="sapatas" value="TRUE">
                    <span>Sapatas: Solta, amassada, quebrada?</span>
                </label>
            </div>
        </div>

        <div class="containercheck">
            <div>
                <label>
                    <input type="checkbox" name="geral" id="geral" value="TRUE">
                    <span>Geral: Solta, dobrada ou quebrada?</span>
                </label>
            </div>
        </div>

        <div class="outerBox">
            <div class="inputBox">
                <input type="text" name="outros">
                <span>Outros</span>
            </div>
        </div>

        <p><h5>Ação:</h5></p>
        <div class="container">
            <label class="labelcheck">
                <input type="radio" id="acaot" name="acao" value="TRUE"/>
                <span class="spanradio">Escada está em boas condições de uso</span>
            </label>

            <label class="labelcheck">
                <input type="radio" id="acaof" name="acao" value="FALSE"/>
                <span class="spanradio">Escada danificada, não utilizar</span>
            </label>
        </div>

        <a>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button id="button" class="btn btn-primary btn-lg" type="submit">OK</button>
            </div>
        </a>
    </div>
</form>

{% endblock %}