{% extends "base.html" %} {% block title %}Recursos Materiais Necessários{% endblock %} {% block
content %}

<p><h3 align="center">Recursos Materiais Necessários</h3></p>

<form method="POST">
    <div class="wrapper">
        <div class="containercheck">
            <div>
                <label>
                    <input type="checkbox" name="ferrmanual" id="ferrmanual" value="TRUE">
                    <span>Ferramentas Manuais</span>
                </label>
            </div>
        </div>

        <div class="containercheck">
            <div>
                <label>
                    <input type="checkbox" name="ferrpneumatica" id="ferrpneumatica" value="TRUE">
                    <span>Ferramenta Pneumática</span>
                </label>
            </div>
        </div>

        <div class="containercheck">
            <div>
                <label>
                    <input type="checkbox" name="escada" id="escada" value="TRUE">
                    <span>Escada</span>
                </label>
            </div>
        </div>

        <div class="containercheck">
            <div>
                <label>
                    <input type="checkbox" name="furadeira" id="furadeira" value="TRUE">
                    <span>Furadeira</span>
                </label>
            </div>
        </div>

        <div class="containercheck">
            <div>
                <label>
                    <input type="checkbox" name="lixadeira" id="lixadeira" value="TRUE">
                    <span>Lixadeira</span>
                </label>
            </div>
        </div>

        <div class="containercheck">
            <div>
                <label>
                    <input type="checkbox" name="solda" id="solda" value="TRUE">
                    <span>Máquina de Solda</span>
                </label>
            </div>
        </div>

        <div class="containercheck">
            <div>
                <label>
                    <input type="checkbox" name="oxicorte" id="oxicorte" value="TRUE">
                    <span>Aparelho de Oxi Corte
            </div>
        </div>

        <a>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button id="button" class="btn btn-primary btn-lg" type="submit">OK</button>
            </div>
        </a>
    </div>
</form>
{% endblock %}