{% extends "base.html" %} {% block title %}ART{% endblock %} {% block
content %}
<h3>Análise de Risco da Tarefa</h3>

  <form method="POST">

      <div class="outerBox">
        <div class="inputBox">
            <input type="text" name="tarefa" required="required">
            <span>Tarefa</span>
        </div>
      </div>

      <div class="outerBox">
        <div class="inputBox">
            <input type="text" name="local" required="required">
            <span>Local</span>
        </div>
      </div>

      <div class="outerBox">
        <div class="inputBox">
            <input type="text" name="contrato" required="required">
            <span>Contrato</span>
        </div>
      </div>

      <div class="outerBox">
        <div class="inputBox">
            <input type="text" name="numeroos" required="required">
            <span>Número da O.S.</span>
        </div>
      </div>

      <div class="outerBox">
        <div class="inputBox">
            <input type="datetime-local" name="datauser" required="required" placeholder="">
            <span>Data</span>
        </div>
      </div>

        <div>
          <h5>Atividade Rotineira?</h5>
          <div class="container">
              <label class="labelcheck">
                  <input type="radio" id="ativrotinat" name="ativrotina" value="TRUE"/>
                  <span class="spanradio">Sim</span>
              </label>
              <label class="labelcheck">
                  <input type="radio" id="ativrotinaf" name="ativrotina" value="FALSE"/>
                  <span class="spanradio">Não</span>
              </label>
          </div>

          <h5>Estou treinado para realizar esta tarefa, sei fazer?</h5>
          <div class="container">
              <label class="labelcheck">
                  <input type="radio" id="treinadot" name="treinado" value="TRUE"/>
                  <span class="spanradio">Sim</span>
              </label>
              <label class="labelcheck">
                  <input type="radio" id="treinadof" name="treinado" value="FALSE"/>
                  <span class="spanradio">Não</span>
              </label>
          </div>

          <h5>Os equipamentos foram bloqueados com cadeados?</h5>
          <div class="container">
              <label class="labelcheck">
                  <input type="radio" id="equipbloqueadot" name="equipbloqueado" value="TRUE"/>
                  <span class="spanradio">Sim</span>
              </label>
              <label class="labelcheck">
                  <input type="radio" id="equipbloqueadof" name="equipbloqueado" value="FALSE"/>
                  <span class="spanradio">Não</span>
              </label>
              <label class="labelcheck">
                  <input type="radio" id="equipbloqueadof" name="equipbloqueado" value="FALSE"/>
                  <span class="spanradio">Não se aplica</span>
              </label>
          </div>

          <h5>Você possui os EPI's necessários?</h5>
          <div class="container">
              <label class="labelcheck">
                  <input type="radio" id="possuiepit" name="possuiepi" value="TRUE"/>
                  <span class="spanradio">Sim</span>
              </label>
              <label class="labelcheck">
                  <input type="radio" id="possuiepif" name="possuiepi" value="FALSE"/>
                  <span class="spanradio">Não</span>
              </label>
          </div>

          <h5>As ferramentas estão em boas condições?</h5>
          <div class="container">
              <label class="labelcheck">
                  <input type="radio" id="condferramentat" name="condferramenta" value="TRUE"/>
                  <span class="spanradio">Sim</span>
              </label>
              <label class="labelcheck">
                  <input type="radio" id="condferramentaf" name="condferramenta" value="FALSE"/>
                  <span class="spanradio">Não</span>
              </label>
          </div>
    
    <a href="/formulario">
      <div class="d-grid gap-2 col-8 mx-auto">
        <button id="button" class="btn btn-primary btn-lg" type="submit">OK</button>
      </div>
    </a>
    </div>
  </form>
  {% endblock %}