{% extends "base.html" %} {% block title %}ART{% endblock %} {% block
content %}
<h3 align="center">Análise de Risco da Tarefa</h5>

  <form method="POST">
    <div name="main">
      <div name="1st">
        <div name="inner">
          <label><input type="textarea" name="tarefa" placeholder="Tarefa" /></label>
        </div>

        <div name="inner">
          <label><input type="textarea" name="local" placeholder="Local" /></label>
        </div>

        <div name="inner">
          <label><input type="textarea" name="contrato" placeholder="Contrato" /></label>
        </div>

        <div name="inner">
          <label><input type="textarea" name="numeroos" placeholder="Número da O.S." /></label>
        </div>

        <div name="inner">
          <label><input type="datetime-local" name="datauser" placeholder="Data" /></label>
        </div>

        <div name="inner">
          <h5>Atividade Rotineira?</h5>
          <label>
            <input type="radio" name="ativrotina" value="TRUE">
            Sim
          </label>

          <label>
            <input type="radio" name="ativrotina" value="FALSE">
            Não
          </label>
        </div>
      </div>

      <div>
        <div name="inner">
          <h5>Estou treinado para realizar esta tarefa, sei fazer?</h5>
          <label>
            <input type="radio" name="treinado" value="TRUE">
            Sim
          </label>

          <label>
            <input type="radio" name="treinado" value="FALSE">
            Não
          </label>
        </div>

        <div name="inner">
          <h5>Os equipamentos foram bloqueados com cadeados?</h5>
          <label>
            <input type="radio" name="equipbloqueado" value="TRUE">
            Sim
          </label>

          <label>
            <input type="radio" name="equipbloqueado" value="FALSE">
            Não
          </label>

          <label>
            <input type="radio" name="equipbloqueado" value="FALSE">
            Não se aplica
          </label>
        </div>

        <div name="inner">
          <h5>Você possui os EPI's necessários?</h5>
          <label>
            <input type="radio" name="possuiepi" value="TRUE">
            Sim
          </label>

          <label>
            <input type="radio" name="possuiepi" value="FALSE">
            Não
          </label>
        </div>

        <div name="inner">
          <h5>As ferramentas estão em boas condições?</h5>
          <label>
            <input type="radio" name="condferramenta" value="TRUE">
            Sim
          </label>

          <label>
            <input type="radio" name="condferramenta" value="FALSE">
            Não
          </label>
        </div>
      </div>
    </div>
    
    <a href="/formulario">
      <div class="d-grid gap-2 col-8 mx-auto">
        <button id="button" class="btn btn-primary btn-lg" type="submit">OK</button>
      </div>
    </a>
    </div>
  </form>
  {% endblock %}