{% extends "base.html" %} {% block title %}Riscos Potenciais{% endblock %} {%
block content %}

<p><h3 align="center">Riscos Potenciais</h3></p>

<form method="POST">
    <div>
        <div><label><input class="checkbox-class" type="checkbox" name="aclive" value="TRUE" /> Aclive e declive acentuados</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="animais" value="TRUE" /> Animais peçonhentos</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="aprisionamento" value="TRUE" /> Aprisionamento de membros do corpo</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="atropelamento" value="TRUE" /> Atropelamento</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="bater" value="TRUE" /> Bater contra</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="calor" value="TRUE" /> Calor</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="carga" value="TRUE" /> Carga suspensa</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="choque" value="TRUE" /> Choque elétrico ou arco elétrico</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="cilindros" value="TRUE" /> Cilindros e vasos sob pressão</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="perfurocortante" value="TRUE" /> Contato com material perfurocortante</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="deslocamento" value="TRUE" /> Deslocamento de equipamentos</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="desmoronamento" value="TRUE" /> Desmoronamento/soterramento</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="equipIcamento" value="TRUE" /> Equip. içamento/movimentação</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="escada" value="TRUE" /> Escada móvel (utilizar check list de escadas)</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="espaçoConfinado" value="TRUE" /> Espaço confinado</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="espaçoLimitado" value="TRUE" /> Espaço limitado/enclausurado</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="explosao" value="TRUE" /> Explosão</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="falhas" value="TRUE" /> Falhas no sistema de freio</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="falta" value="TRUE" /> Falta de isolamento</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="ferramenta" value="TRUE" /> Ferramenta inadequada</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="gasesEtc" value="TRUE" /> Gases/Fuligens/Vapores/Nevoas</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="iluminacao" value="TRUE" /> Iluminação deficiente</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="incendio" value="TRUE" /> Incêndio</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="instalacao" value="TRUE" /> Instalação elétrica inadequada</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="inundacao" value="TRUE" /> Inundação</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="maVisibilidade" value="TRUE" /> Má visibilidade</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="materiais" value="TRUE" /> Materiais fora de uso no local</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="pisoRotativo" value="TRUE" /> Piso com partes moveis/rotativas</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="pisoIrregular" value="TRUE" /> Piso irregular/escorregadio</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="postura" value="TRUE" /> Postura inadequada</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="pressao" value="TRUE" /> Pressão hidráulica</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="projecao" value="TRUE" /> Projeção de materiais/particulas</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="queda" value="TRUE" /> Queda de objetos/pessoas</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="riscosTerceiros" value="TRUE" /> Riscos para terceiros</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="rompimento" value="TRUE" /> Rompimento de cabo/corrente/cinta </label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="ruido" value="TRUE" /> Ruído</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="sistema" value="TRUE" /> Sistema de reboque</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="subst" value="TRUE" /> Subst. química perigosa</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="superficie" value="TRUE" /> Superficie quente</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="tombamento" value="TRUE" /> Tombamento</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="trabalhoQuente" value="TRUE" /> Trabalho a quente</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="trabalho" value="TRUE" /> Trabalho em altura</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="transporteMaterial" value="TRUE" /> Transporte de material perigoso</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="transportePessoas" value="TRUE" /> Transporte de pessoas</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="transporte" value="TRUE" /> Transporte manual de peso </label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="tubulacao" value="TRUE" /> Tubulação sob pressão</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="umidade" value="TRUE" /> Umidade</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="ventilacao" value="TRUE" /> Ventilação deficiente</label></div>
        <div><label><input class="checkbox-class" type="checkbox" name="vibração" value="TRUE" /> Vibração</label></div>
        
        <div class="outerBox">
            <div class="inputBox">
        <input type="textarea" name="outros" placeholder="Outros Riscos" />
        </div>
            </div>
        
        <a href="/closing">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button id="button" class="btn btn-primary btn-lg" type="submit">
                    OK
                </button>
            </div>
        </a>
    </div>
</form>

{% endblock %}