{% extends "base.html" %} {% block title %}Riscos Potenciais{% endblock %} {% block
content %}
<h3 align="center">Riscos Potenciais</h3>

<form method="POST"></form>
    <div>
        <div>
            <label>
                <input type="checkbox" name="agree" value="yes">
                Aprisionamento de membros do corpo
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="agree" value="yes">
                Aclive e declive acentuados
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="agree" value="yes">
                Trabalho a quente
            </label>

        <div>
            <label>
                <input type="checkbox" name="agree" value="yes">
                Atropelamento
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="agree" value="yes">
                Umidade
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="agree" value="yes">
                Calor
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="agree" value="yes">
                Carga suspensa
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="agree" value="yes">
                Cilindros e vasos sob pressão
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="agree" value="yes">
                Tubulação sob pressão
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="agree" value="yes">
                Pressão hidraulica
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="agree" value="yes">
                Gases/Fuligens/Vapores/Nevoas
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="agree" value="yes">
                Contato com material perfurocortante
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="agree" value="yes">
                Contato com partes moveis/rotativas
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="agree" value="yes">
                Deslocamento de equipamentos
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="agree" value="yes">
                Equip. içamento/movimentação
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="agree" value="yes">
                Queda de objetos/pessoas
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="agree" value="yes">
                Riscos para terceiros
            </label>
        </div>

        <a href="/">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button
                id="button"
                class="btn btn-primary btn-lg"
                type="submit"
                >OK</button>
            </div>
        </a>
    </div>
</form>

{% endblock %}