{% extends "base.html" %} {% block title %}Riscos Potenciais{% endblock %} {% block
content %}
<h3 align="center">Riscos Potenciais</h3>

<form method="POST"></form>
    <div>
        <div><label><input type="checkbox" name="aprisionamento" value="yes">	Aprisionamento de membros do corpo	</label></div>
        <div><label><input type="checkbox" name="projecao" value="yes">	Projeção de materiais/ particulas	</label></div>
        <div><label><input type="checkbox" name="sistema" value="yes">	Sistema de reboque	</label></div>
        <div><label><input type="checkbox" name="aclive" value="yes">	Aclive e declive acentuados	</label></div>
        <div><label><input type="checkbox" name="falta" value="yes">	Falta de isolamento	</label></div>
        <div><label><input type="checkbox" name="inundacao" value="yes">	Inundação	</label></div>
        <div><label><input type="checkbox" name="trabalhoQuente" value="yes">	Trabalho a quente	</label></div>
        <div><label><input type="checkbox" name="ferramenta" value="yes">	Ferramenta inadequada	</label></div>
        <div><label><input type="checkbox" name="superficie" value="yes">	Superficie quente	</label></div>
        <div><label><input type="checkbox" name="atropelamento" value="yes">	Atropelamento	</label></div>
        <div><label><input type="checkbox" name="bater" value="yes">	Bater contra	</label></div>
        <div><label><input type="checkbox" name="vibração" value="yes">	Vibração	</label></div>
        <div><label><input type="checkbox" name="umidade" value="yes">	Umidade	</label></div>
        <div><label><input type="checkbox" name="iluminacao" value="yes">	Iluminação deficiente	</label></div>
        <div><label><input type="checkbox" name="transportePessoas" value="yes">	Transporte de pessoas	</label></div>
        <div><label><input type="checkbox" name="calor" value="yes">	Calor	</label></div>
        <div><label><input type="checkbox" name="incendio" value="yes">	Incêndio	</label></div>
        <div><label><input type="checkbox" name="animais" value="yes">	Animais peçonhentos	</label></div>
        <div><label><input type="checkbox" name="carga" value="yes">	Carga suspensa	</label></div>
        <div><label><input type="checkbox" name="instalacao" value="yes">	Instalação eletrica inadequada	</label></div>
        <div><label><input type="checkbox" name="trabalho" value="yes">	Trabalho em altura	</label></div>
        <div><label><input type="checkbox" name="cilindros" value="yes">	Cilindros e vasos sob pressão	</label></div>
        <div><label><input type="checkbox" name="subst" value="yes">	Subst. quimica perigosa	</label></div>
        <div><label><input type="checkbox" name="transporteMaterial" value="yes">	Transporte de material perigoso	</label></div>
        <div><label><input type="checkbox" name="tubulacao" value="yes">	Tubulação sob pressão	</label></div>
        <div><label><input type="checkbox" name="maVisibilidade" value="yes">	Má visibilidade	</label></div>
        <div><label><input type="checkbox" name="tombamento" value="yes">	Tombamento	</label></div>
        <div><label><input type="checkbox" name="pressao" value="yes">	Pressão hidraulica	</label></div>
        <div><label><input type="checkbox" name="materiais" value="yes">	Materiais fora de uso no local	</label></div>
        <div><label><input type="checkbox" name="transporte" value="yes">	Transporte manual de peso	</label></div>
        <div><label><input type="checkbox" name="gasesEtc" value="yes">	Gases/Fuligens/Vapores/Nevoas	</label></div>
        <div><label><input type="checkbox" name="falhas" value="yes">	Falhas no sistema de freio	</label></div>
        <div><label><input type="checkbox" name="ventilacao" value="yes">	Ventilação deficiente	</label></div>
        <div><label><input type="checkbox" name="perfurocortante" value="yes">	Contato com material perfurocortante	</label></div>
        <div><label><input type="checkbox" name="choque" value="yes">	Choque elétrico ou arco elétrico	</label></div>
        <div><label><input type="checkbox" name="espaçoLimitado" value="yes">	Espaço limitado/ enclausurado	</label></div>
        <div><label><input type="checkbox" name="pisoRotativo" value="yes">	Piso com partes moveis/rotativas	</label></div>
        <div><label><input type="checkbox" name="pisoIrregular" value="yes">	Piso irregular/escorregadio	</label></div>
        <div><label><input type="checkbox" name="postura" value="yes">	Postura inadequada	</label></div>
        <div><label><input type="checkbox" name="deslocamento" value="yes">	Deslocamento de equipamentos	</label></div>
        <div><label><input type="checkbox" name="espaçoConfinado" value="yes">	Espaço confinado	</label></div>
        <div><label><input type="checkbox" name="desmoronamento" value="yes">	Desmoronamento soterramento	</label></div>
        <div><label><input type="checkbox" name="explosao" value="yes">	Explosão	</label></div>
        <div><label><input type="checkbox" name="equipIcamento" value="yes">	Equip. içamento/movimentação	</label></div>
        <div><label><input type="checkbox" name="escada" value="yes">	Escada móvel (utilizar check list de escadas)	</label></div>
        <div><label><input type="checkbox" name="queda" value="yes">	Queda de objetos/pessoas	</label></div>
        <div><label><input type="checkbox" name="rompimento" value="yes">	Rompimento de cabo/ corrente/ cinta	</label></div>
        <div><label><input type="checkbox" name="riscosTerceiros" value="yes">	Riscos para terceiros	</label></div>
        <div><label><input type="checkbox" name="ruido" value="yes">	Ruido	</label></div>
        <div><label><input type="textarea" name="outros" placeholder="Outros Riscos"></label></div>

        <a href="/closing">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button
                id="button"
                class="btn btn-primary btn-lg"
                type="submit"
                >OK</button>
            </div>
        </a>
    </div>
</form>

{% endblock %}