/* FORMATAÇÃO DO FUNDO  */
.btn :disabled{
  background-color: #000000;
  color: transparent;
  cursor: progress;
  background-image: url(/static/img/pulse2.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
}

.dropdown-menu {
  margin: 4rem auto;
}

.header {
  margin-top: 1.5rem ;
}
.dropdown-item-danger {
  color: var(--bs-red);
}
.dropdown-item-danger:hover,
.dropdown-item-danger:focus {
  color: #fff;
  background-color: var(--bs-red);
}
.dropdown-item-danger.active {
  background-color: var(--bs-red);
}

.btn-hover-light {
  background-color: var(--bs-white);
}
.btn-hover-light:hover,
.btn-hover-light:focus {
  color: var(--bs-blue);
  background-color: var(--bs-light);
}

.cal-month,
.cal-days,
.cal-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}
.cal-month-name {
  grid-column-start: 2;
  grid-column-end: 7;
  text-align: center;
}
.cal-weekday,
.cal-btn {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0;
}
.cal-btn:not([disabled]) {
  font-weight: 500;
}
.cal-btn:hover,
.cal-btn:focus {
  background-color: rgba(0, 0, 0, .05);
}
.cal-btn[disabled] {
  border: 0;
  opacity: .5;
}

.form-control-dark {
  background-color: rgba(255, 255, 255, .05);
  border-color: rgba(255, 255, 255, .15);
}

.w-220px {
  width: 220px;
}

.w-280px {
  width: 280px;
}

.w-340px {
  width: 340px;
}

.w-600px {
  width: 600px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.outerBox {
  position: relative;
  width: 100%;
  margin: 10px;
}

.input-group-text {
  width: 100%;
  padding: 10px;
  border: 1PX solid rgba(179,175,175,0.25);
  background: #e71313;
  border-radius: 5px;
  outline: none;
  color: #0B2536;
  font-size: 1em;  
}

.inputBox {
    position: relative;
    width: 250px;
}

.inputBox input{
    width: 100%;
    padding: 10px;
    border: 1PX solid rgba(179,175,175,0.25);
    background: #F2F2F2;
    border-radius: 5px;
    outline: none;
    color: transparent;
    font-size: 1em;
    margin-bottom: 10px;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(85, 85, 85, 0.5);
    text-transform: uppercase;
    transition: 0.25s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    color: #fff;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background-color: #0B2536;
    letter-spacing: 0.2em;
}

.inputBox input:valid,
.inputBox input:focus {
    border: 1px solid #6a5a44;
    color: #000000;
}

input[type="radio"]{
  display: none;
}

.labelcheck{
  cursor: pointer;
  margin-top: 15px; 
  font-weight: 500;
  margin-bottom: 10px;
}

.labelcheck .spanradio{
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 10px;
  margin-top: -10px;
  border-radius: 31px;
  transition: .25s ease;
  font-weight: normal;
}

.labelcheck .spanradio:hover,
input[type="radio"]:checked + .spanradio{
  background-color: #d6d6d6;
}

.labelcheck .spanradio:before{
  content: "";
  background-color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 10px;
  transition: .25 ease;
  box-shadow: inset 0 0 0 2px #1a1a1a;
}

input[type="radio"]:checked + .spanradio:before {
  box-shadow: inset 0 0 0 10px #1a1a1a;
}

.containercheck{
  max-width: 1200px;
  margin: 0 auto;
  display: inline-block;
}

.containercheck div{
  margin: 10px;
}

.containercheck div label{
  cursor: pointer;
}

.containercheck div label input[type="checkbox"]{
  display: none;
}

.containercheck div label span{
  position: relative;
  display: inline-block;
  background: #F2F2F2;
  padding: 10px 25px;
  margin-bottom: -15px;
  color: #1a1a1a;
  border-radius: 15px;
  font-size: 18px;
  transition: 0.25s;
  overflow: hidden;
}

.containercheck div label span:before{
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(255,255,255,1);
}

.containercheck div label input[type="checkbox"]:checked ~ span{
  background: #FFC000;
  border-radius: 15px;
}

.checkbox-class {
  position: relative;
  top: 1px;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 3px;
  vertical-align: middle;
  transition: background 0.1s ease;
 }

.img {
  border-radius: 8px;
  margin-right: 200px;
}

select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border: 1PX solid rgba(179,175,175,0.25);
  background: #F2F2F2;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color:#000000;
  cursor:pointer;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 250px;
  height: 3em;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: 5px;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: rgba(179,175,175,0.25);
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}

.select:hover::after {
  color: rgba(179,175,175,0.25);
}

.aviso {
  color: black;
  font-size:small;
}
.textcomm {
  border: 1px solid black;
  background-color: rgba(179,175,175,0.25);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Hide the default checkbox */
.checkTermo {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 4px;
  outline: none;
  transition: all 0.3s ease;
  background-color: red;
}

/* Style the checkbox when checked */
.checkTermo:checked {
  background-color: green;
}

.valid {
  border-color: green;
}

.invalid {
  border-color: red;
}
